
/*Hangman words display*/
body{
  background-color: #64ffda;
}
div{
  margin:5%;
  margin-left: 20%;
}
#chosenWord{
color: #eceff1;
text-shadow: 1px 1px #78909c;
font-family: 'Bungee', cursive;
font-size: 100%;
clear: both;
max-width: inherit;
}
#typedLetters{
color: #eceff1;
text-shadow: 1px 1px #78909c;
font-family: 'Bungee', cursive;
font-size: 100%;
margin-top: 100px;
}
/*Container*/
.z-depth-4{
color: #eceff1;
text-shadow: 1px 1px #78909c;
font-family: 'Bungee', cursive;
margin-bottom: 20px;
width: 100%;
word-wrap: break-word;
margin-top: 40%;
margin-left: 54%;
text-align: center;
border-radius: 5px 5px;
padding-bottom: 3px;
padding-top: 2px;
padding-right: 2px;
padding-left: 2px;


}
/*Game Over Button*/
#gameOver{
  margin-top: 78px;
  height: 50px;
  width: 50px;
  margin-left: 44%;
  margin-bottom: 100px;
}
.display {
  z-index: 99;

  /*font-size: 100%;
  margin-left: 41%;
  margin-top: 15%;
  text-shadow: 1px 1px #78909c;
  visibility: visible; */
}
#openKeyboard{
  tex
}
